
*/__pycache__
**/__pycache__

*/__pycache__/
**/__pycache__/

*__pycache__/
**__pycache__/


*/migrations
**/migrations

*/migrations/
**/migrations/

*migrations/
**migrations/

.env

*/media
**/media

.venv/
*/.venv
**/.venv

db.sqlite
db.sqlite3